/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 9, 2015, 1:28:08 PM
    Author     : smoss
*/
.hideShowPassword-toggle {
    background-image: url(img/wink.svg);
    background-position: 0 center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 100%;
    overflow: hidden;
    text-indent: -9999em;
    width: 44px;
}
.hideShowPassword-toggle-hide {
  background-position: -44px center;
}
/*
 * Because our input elements have a z-index so that
 * their borders will overlap on focus, we'll give ours
 * a higher one to make sure they're always visible.
 */
.hideShowPassword-toggle,
.my-toggle-class {
  z-index: 3;
}